{% extends "base.html" %}
{% block meta %}
<meta http-equiv="refresh" content="300">
{% endblock meta %}
{% block content %}
<div class="container-fluid">
  <h3>{{ title }}</h3>
</div>
<div>

  <div class="container-fluid">
    <div class="row justify-content-md-left">
      <div class="col-md-auto">
        <h6>{{ head.file_typeID }} {{ head.file_name }} total {{ data.total }} </h6>
      </div>
      <div class="col-md-auto">

      </div>
      <!-- <div class="col col-lg-2">
        <h6>
          {% if ( head.Entity == 'FCA')  %}
          <a href="{{ url_for('transreporting.exportfca', Pyld = head.Pyld_MsgRptIdr )  }}" class="btn btn-dark btn-sm"
            role="button">Export</a></h6>
        {% else  %}
        <a href="{{ url_for('transreporting.exportafm', Pyld = head.file_name )  }}" class="btn btn-dark btn-sm"
          role="button">Export</a>
        {% endif %}
        </h6>
      </div> -->
    </div>

    <table class="table table-striped table-hover" id="example" style="width:100%">
      <thead class="table-dark">
        <tr>
          <!-- <th data-field="file_name">File Name</th> -->
          <!-- <th data-field="file_typeID">Type </th> -->
          <th data-field="Pyld_MsgRptIdr">Pyld</th>
          <th data-field="AppHdr_MsgRptIdr">AppHdr </th>
          <th data-field="Sts">Sts </th>
          <th data-field="VldtnRule_id">VldtnRule_id </th>
          <th data-field="VldtnRule_Desc">VldtnRule_Description </th>
          <th data-field="file_name">OrgnlRcrdId </th>


        </tr>
      </thead>

      {% for d in data.items %}
      <tr>
        <!-- <td >{{ d.file_name}}</td> -->
        <!-- <td >{{ d.file_typeID}}</td> -->
        <td >{{ d.Pyld_MsgRptIdr}}</td>
        <td >{{ d.AppHdr_MsgRptIdr}}</td>
        <td >{{ d.Sts}}</td>
        <td >{{ d.VldtnRule_id}}</td>
        <td >{{ d.VldtnRule_Desc}}</td>
        <td >{{ d.OrgnlRcrdId}}</td>

      </tr>
      {% endfor %}

    </table>

    {% for page_num in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if data.page == page_num %}
    <a class="btn btn-dark btn-sm mb-4"
      href="{{ url_for('transreporting.rejects3', Pyld=head.Pyld_MsgRptIdr, page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-light btn-sm mb-4"
      href="{{ url_for('transreporting.rejects3', Pyld=head.Pyld_MsgRptIdr, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}

    {% endblock %}